.skills-panel {
    /* background: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(4px);
    padding: 20px;
    font-size: 1rem;
    border-radius: 10px;
    width: 800px;
    text-align: center;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 1s ease;
}

.skills-panel.in-view {
    opacity: 1;
    transform: translateY(0);
}

.skills {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.skill {
    /* background: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(4px);
    padding: 20px;
    /* font-size: 1rem; */
    border-radius: 10px;
}

.skill:hover {
    transform: scale(1.2);
    /* Scale the element */
    transition: transform 0.3s ease;
    /* Smooth transition */
}