<div class="container">
    <div class="layout">
        <p-timeline [value]="experiences" layout="horizontal">
            <ng-template pTemplate="content" let-experience>
                <div class="role-box" (click)="showDescription(experience)">{{ experience.role }}</div>
                <p class="company" (click)="showDescription(experience)">{{ experience.company }}</p>
                <p class="duration">{{ experience.duration }}</p>
            </ng-template>
        </p-timeline>
    </div>

    <div class="description">
        <p *ngIf="selectedExperience" #description class="description" [innerHTML]="selectedExperience.description"></p>
    </div>

</div>