<div style="display: flex; justify-content: center; align-items: center;">
    <div class="container">
        <h1>About Me</h1>
        <p>Hi! I'm a Software Engineer with a passion for building things—whether it's technology, stories, or games. I
            started as a tester, but soon discovered my love for development.</p>

        <div class="section">
            <div class="section-title">Technologies I've Worked With:</div>
            <ul class="tech-list">
                <li><b>Angular</b></li>
                <li><b>Java</b></li>
                <li><b>.NET</b></li>
                <li><b>MySQL</b></li>
                <li><b>Node.Js</b></li>
                <li><b>MongoDB</b></li>
                <li><b>Godot & Unity (Game Engines)</b></li>
                <li><b>FL Studio (Music Production)</b></li>
            </ul>
        </div>

        <p>I love learning and expressing creativity through building. It’s the excitement of finding solutions and
            bringing ideas to life that drives me.</p>

        <p>I’m always learning and excited about the future, especially with tools like <b>LLMs</b> that help bring
            ideas to life faster. While I’m a <b>perfectionist</b>, the real joy for me comes from creating something
            <b>meaningful</b> with kind and creative people.
        </p>
    </div>
</div>